################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyGameMaker
/MyGameEditor/x64/Debug
*.user
/x64/Debug
/.vs
/MyGameEngine/x64/Debug
/x64/Release
/MyGameEditor/x64/Release
